.messenger{
    height:calc(100vh-70px);
    display: flex;
}

.chatMenu{
    flex:3.5;
}
.chatBox{
   flex:5.5; 
}
.chatMenuUnput{
    width: 90%;
    padding:10px 0;
    border:none;
    border-bottom: 1px solid gray;
}
.chatOnline{
    flex:3;
}
.chatBoxTop{
    background: black;
    height:10%;
    overflow-y: scroll;
}
.chatBoxBottom{
    margin-top: 5px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width:80%;
    height:9px;
    padding:10px;
}
.chatSubmitButton{
    width:70px;
    height:40px;
    border:none;
    cursor:pointer;
    background-color: teal;
    color:white;
}

.chatBoxWrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding:10px;
   
    height: 100%;
}