.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386d5;
    color: #fff;
    margin-left: -250px;
    transition: all 0.5s;
    height:auto;
    text-align: center;
  }
  .sidebar.is-open {
    margin-left: 0;
    transition: 0.5s;
  }
  .sidebar-header {
    background: #6d7fcc;
  }
  .content {
    padding: 20px;
    margin-left: 0;
    height: 100vh;
  }
  @media only screen and (max-width: 500px) {
    body {
      overflow: hidden;
    }
  
    .content.is-open {
      margin-left: 100%;
    }
  
    .sidebar.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
    }
  
    .sidebar.is-open > .sidebar-header span {
      display: unset;
    }
  
    li a.dropdown-toggle::after {
      display: inline-block;
      position: relative;
      left: 68%;
    }
  }