h1 {
    text-align: center;
}
/*.paragraph {
    position: relative;
    top:70px;
    left:40px;
    
}*/
.work {
    margin-left: 0px;
}
.work1:hover{
    cursor:pointer;
    color:rgb(68, 143, 230);


    
    background-color:white;
}
.second{
    margin-left: 120px;
    margin-top: 100px;
    display:flex;
    flex-direction: column;

}
.scroll{
    overflow-y: scroll;
    height:350px;
    background-color: #fff;
    padding:10px;
    border-radius: 20px;
   
    -webkit-box-shadow: 7px 9px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 9px 33px 0px rgba(0,0,0,0.75);
box-shadow: 7px 9px 33px 0px rgba(0,0,0,0.75);
}